body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

.wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.wrap.live {
  background: #000 url(../img/live-01.gif) center/cover no-repeat;
}

.btn {
  line-height: 35px;
  border: 1px solid #333;
  color: #333;
  padding: 0 8px;
  border-radius: 4px;
  font-size: 16px;
  display: inline-block;
}

.icon-close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
}

.info {
  position: absolute;
  width: 100%;
  top: 30px;
  padding: 15px;
  box-sizing: border-box;
}

.info .btn {
  position: absolute;
  right: 15px;
  top: 27.5px;
} 

.info .cover {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
}

.info .profile {
  display: inline-block;
  vertical-align: middle;
  color: #333;
}

.info .profile h2 {
  font-size: 24px;
  line-height: 1.4;
  font-weight: normal;
  margin: 0 0 3px 0;
  padding: 0;
}

.info .profile .location {
  font-size: 14px;
}


/* emoji */

.Emojis {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  text-align: center;
  padding: .125rem;
  opacity: 1;
  visibility: visible;
}

.Emojis:before {
  content: '';
  width: 95%;
  height: 1px;
  position: relative;
  margin: 10px auto;
  display: block;
  background-color: rgba(255,255,255,0.5);
}

.Emojis:after {
  content: '';
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 6rem;
  display: block;
  background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.6));
}

.Emoji {
  position: relative;
  z-index: 5;
  width: 3rem;
  height: 3rem;
  display: inline-block;
  margin: 5px 3px;  
  color: #ffd972;
  cursor: pointer;
}

.Emoji.add:before {
  opacity: 1;
  transform: translateY(0) scale(0.8);
}

.Emoji.add .icon {
  transform: scale(1.5) translate3d(0, -500%, 0);
}
.Emoji.add .icon--heart {
  transform: scale(1.5) translate3d(160%, -500%, 0);
}
.Emoji.add .icon--haha {
  transform: scale(1.5) translate3d(80%, -500%, 0);
}
.Emoji.add .icon--sad {
  transform: scale(1.5) translate3d(-80%, -500%, 0);
}
.Emoji.add .icon--angry {
  transform: scale(1.5) translate3d(-160%, -500%, 0);
}

.Emoji.add .icon:before {
  transform: scale(0)
}

.Emoji.add .icon:after {
  animation: wave-zoom 0.9s ease-out 0.1s forwards;
}

@keyframes wave-zoom {
  0%{opacity: 0; transform: scale(0);}
  40%{opacity: 1;}
  50%{opacity: 0.5;}
  95%{opacity: 0; transform: scale(20);}
  96%{opacity: 0; transform: scale(0);}
  100%{opacity: 0; transform: scale(0);}
}

.icon {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  transform: scale(0.8);
  transition: transform .2s ease;
  border-radius: 50%;
  position: relative;
}

.Emoji:before,
.icon:before {
  content: '';
  background-image: url(../img/giphy.gif);
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  top: 0;
  left: 0;
  transition-delay: 0.2s;
  transition: 0.3s ease;
}

.Emoji:before {
  opacity: 0;
  transform: translateY(300%) scale(0.8);
  transition-delay: 3s;
  transition: 0.3s ease;
}

.icon:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  top: 0;
  left: 0;
  transform: scale(0);
  transition-delay: 0.2s;
  transition: 0.8s ease;
}

.icon--like:before {
  background-position: -6px -6px;
}

.Emoji--heart:before,
.icon--heart:before {
  background-position: -68px -4px;
}
.icon--heart:after {
  background-color: #FE6DA5;
}

.Emoji--haha:before,
.icon--haha:before {
  background-position: -129px -6px;
}
.icon--haha:after {
  background-color: #FFE785;
}

.Emoji--wow:before,
.icon--wow:before {
  background-position: -191px -6px;
}
.icon--wow:after {
  background-color: #2DE399;
}

.Emoji--sad:before,
.icon--sad:before {
  background-position: -252px -5px;
}
.icon--sad:after {
  background-color: #5C89F0;
}

.Emoji--angry:before,
.icon--angry:before {
  background-position: -314px -6px;
}
.icon--angry:after {
  background-color: #FF5959;
}